.theatre-header,
.theatre-main {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
}
.theatre-wrap{
  background: url(img/background.jpeg) 0 0 / cover no-repeat;
}
.theatre-navbar {
  padding: 50px 0px;
  flex-wrap: nowrap;
  margin: 0px 160px;
  // .theatre-navbar__list
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    & li,
    a {
      color: white;
    }
  }
}

.poster-container {
  display: flex;
  padding-top: 200px;
  margin: 0px 160px;

  // .poster-container__history

  &__history {
    display: flex;
    flex-direction: column;
    flex: 1 1 65%;
    padding-right: 150px;
  }
  // .poster-container__title
  &__title {
    color: rgb(255, 255, 255);
    font-family: "Open Sans Condensed";
    font-size: 64px;
    font-weight: 700;
    line-height: 1.35;
    letter-spacing: 10%;
    text-align: left;
  }
  // .poster-container__text
  &__text {
    padding: 50px 0px;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0%;
    text-align: left;
  }
  // .poster-container__btn
  &__btn {
    background: rgb(209, 169, 84);
    width: 160px;
    height: 50px;
    color: white;
  }
  // .poster-container__img
  &__img {
    display: flex;
    flex: 1 1 35%;
    position: relative;
   
  }

  &__img-la-scala {
    display: flex;
    position: absolute;
    top: -150px;

    z-index: 1;
  }
  &__rectangle {
    display: flex;
    width: 364px;
    height: 493px;
    background: rgb(209, 169, 84);
    position: absolute;
    top: -130px;
   
  
  }
}
